@{
    Layout = null;
    ViewData["Title"] = "Acesso não autorizado";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    </environment>
    <title>Acesso Não Autorizado</title>
</head>
<body class="white-text red darken-2 container" style="position:absolute;top:40%;left:20%">
    <div>
        <h1>Acesso não autorizado</h1>
        <h5>Olá, @User.Identity.Name ! Não tem permissões para aceder esta página</h5>
    </div>
</body>
</html>
