@model GestaoCondominios.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Redefinir Password";
}

<div class="collection with-header">
    <div class="collection-header">
        <h5>Altere a sua password</h5>
    </div>

    <form asp-action="RedefinirPassword">
        <div class="collection-item">
            <div asp-validation-summary="ModelOnly" class="red-text text-darken-4"></div>
            <div class="row">
                <div class="col s12">
                    <div class="blue-text text-darken-3">Olá, @Model.Email ! Após primeiro login, deve redefinir a password</div>
                    <input type="hidden" asp-for="Email" />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input asp-for="Password" type="password" class="validate" id="password" />
                    <label asp-for="Password" id="password"></label>
                    <span asp-validation-for="Password" class="red-text text-darken-4"></span>
                </div>
            </div>
        </div>

        <div class="collection-item">
            <button type="submit" class="waves-effect waves-light btn-small green darken-4">Alterar</button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}